<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CS-BOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CS-Haliafx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CS-Lloyds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A426692F1BE2767B0055BAD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A440CA4E1BE16446007F3A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A440CA671BE16446007F3A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A440CA721BE16446007F3A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A49392881BE278CA0082F7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A49392A21BE27AA40082F7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA662D1BEE1DE700CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA66681BEE1E8F00CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA66A31BEE1EE700CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA66DE1BEE1F1D00CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA67191BEE209400CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA67511BEE210600CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA67891BEE214F00CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA67C11BEE225F00CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA67F91BEE227100CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CA68311BEE227B00CB6D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
