<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CL-BOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CL-Halifax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CL-Lloyds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ColleagueApp-STUB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A440CA0F1BE1641A007F3A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A440CA281BE1641A007F3A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A440CA331BE1641A007F3A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A49392B91BE2846C0082F7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A49392CE1BE285330082F7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A49392E41BE2859F0082F7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
