//
//  HalifaxConfiguration.xcconfig
//  TIBCustomerApp
//
//  Created by Mobile Developer Lloyds Bank on 07/11/2015.
//  Copyright © 2015 Rupendra. All rights reserved.
//
TIB_PREPROCESSOR_DEFINITIONS_Release = RELEASE=1
TIB_PREPROCESSOR_DEFINITIONS_Tester = BACKENDSELECTION
TIB_PREPROCESSOR_DEFINITIONS_Debug = DEBUG=1 BACKENDSELECTION

TIB_IB_RETAIL_URL = www.halifax-online.co.uk/personal/logon/login.jsp

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) HAL=1 $(TIB_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION)) IB_RETAIL_URL=$(TIB_IB_RETAIL_URL)